.reveal section img {
    background: none;
    border: none;
    box-shadow: none; 
}

@font-face {
    font-family: 'GothamRoundedBook';
    src: url(../fonts/GothamRoundedBook_21018.ttf) format('truetype');
}


.reveal h1,
.reveal h2,
h1, h2{
        font-family: 'GothamRoundedBook';
    font-size: 2em;
    text-transform: none;
}

img.logo{
    max-width: 50%;
}